@font-face {
  font-family: Oswald;
  src: url('assets/Oswald-VariableFont_wght.ttf');
}

:root {
  font-family: Oswald;
  --card-width: 315px;
  --card-height: 480px; 
  background-color: #242424;
  color: #fefefe;
}

.card-image {
  aspect-ratio: inherit;
  max-width: var(--card-width);
  max-height: var(--card-height);


  border-radius: 20px;
}