@font-face {
  font-family: Oswald;
  src: url('assets/Oswald-VariableFont_wght.ttf');
}

:root {
  font-family: Oswald;
  --card-width: 315px;
  --card-height: 480px;
  --background-color: #242424;
  --text-color: #fefefe;
  --yellow: #fbce09;
  background-color: var(--background-color);
  color: var(--text-color);
}

.card-image {
  aspect-ratio: inherit;
  max-width: var(--card-width);
  max-height: var(--card-height);


  border-radius: 20px;
}