.header img {
  width: 100%;
  height: 20px;
  object-fit: cover;
}

.nav-container {
  display: flex;
  gap: 1em;
  padding: 0 20px 0 20px;

}

.nav-container a {
    color: var(--text-color);
    text-decoration: none;
}